@page
@model RazorPage.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "LayoutAdmin";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="container-fluid">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        
                        @{
                            if (item.Status == true) {
                                <div class="active-status">
                                    <span>Active</span>
                                </div>
                            } else {
                                <div class="inactive-status">
                                    <span>Inactive</span>
                                </div>
                            }
                        }
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
