@page
@using BussinessObject;
@model RazorPage.Pages.ProductDetailViewModel
@{    
    if (SessionHelper.checkPermission(HttpContext.Session, "customer"))
    {
        Layout = "LayoutCustomer";
    }
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImageLink)
        </dt>
        <dd class="col-sm-10">
            <img src="~/uploads/@Model.Product.ImageLink" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.NutritionalIngredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.NutritionalIngredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UserManual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UserManual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDiscount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Ratingavg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Ratingavg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Supplier.SupplierName)
        </dd>
    </dl>
</div>
<div>
    @foreach (OrderProductDetail d in Model.listOrderProductDetai)
    {
        <h4>
            @d.Order.User.UserName
        </h4>
        <h5>
            @d.Feedback
        </h5>
        <h6>
            @d.Rating sao
        </h6>
        <br />
    }
</div>
